<div style="font-family: Helvetica,Arial,sans-serif;min-width:1000px;overflow:auto;line-height:2">
    <div style="margin:50px auto;width:70%;padding:20px 0">
        <div style="border-bottom:1px solid #eee">
            <a href="" style="font-size:1.4em;color: #00466a;text-decoration:none;font-weight:600">fitGo</a>
        </div>
        <p style="font-size:1.1em">Dear {{name}},</p>
        <p>Welcome to FitGo! We are thrilled to have you join our fitness community as a trainer. Get ready to make a
            positive impact on the lives of our members through your expertise and passion for fitness.</p> <br>
        <p style="padding-top: 5px;"> At FitGo, we believe that fitness is a journey, and we're excited to have you as part of it.
            Your dedication and knowledge will inspire and empower our members to achieve their health and wellness
            goals.</p> <br>
        <p style="padding-top: 5px;">If you have any questions or need assistance, please don't hesitate to reach out. We're here to
            support you every step of the way.</p> <br>
            <p style="padding-top: 5px;">Once again, welcome aboard!</p>
        <p style="font-size:0.9em;">Best Regards,<br/>fitGo</p>
        <hr style="border:none;border-top:1px solid #eee" />
        <div style="float:right;padding:8px 0;color:#aaa;font-size:0.8em;line-height:1;font-weight:300">
        </div>
    </div>
</div>